<!--<p>stickers works!</p>-->

<!--<button class="btn btn-success right" (click)="loadLabels()">-->
<!--  Load labels-->
<!--</button>-->

<!--<button class="btn btn-success right" (click)="loadStickers()">-->
<!--  Load stickers-->
<!--</button>-->

<!--<h1>Labels:</h1>-->
<!--<div class="col-md-3 col-sm-6" *ngFor="let label of labels$ | async">-->
<!--  <div class="label">-->
<!--    <p>{{label.name}}</p>-->
<!--  </div>-->
<!--</div>-->

<!--<h1>Stickers:</h1>-->
<!--<div class="col-md-3 col-sm-6" *ngFor="let sp of stickerPacks$ | async">-->
<!--  <div class="stickerPack">-->
<!--    <p>{{sp.name}} | {{sp.telegramLink}}</p>-->
<!--  </div>-->
<!--</div>-->

<h1>Stickers</h1>

<div>Stickers on page: {{(stickerPacks$ | async)?.length}}</div>
<div>Entites found: {{(pageInfo$ | async)?.fullCollectionSize}}</div>

<form>
<!--  <div class="form-group form-inline">-->
<!--    Full text search: <input class="form-control ml-2" type="text" name="filterString" [(ngModel)]="filterString"/>-->
<!--  </div>-->

  <app-pagination (pageChanged)="updateView()"></app-pagination>
  <app-page-size-dropwodn (pageSizeChanged)="updateView()"></app-page-size-dropwodn>

<!--  <app-pagesize-dropdown (pageSizeChanged)="updateView()"></app-pagesize-dropdown>-->

  <table class="table table-striped">
    <thead>
    <tr >
      <th scope="col" >Name</th>
      <th scope="col">Count</th>
      <th scope="col" >Telegram link</th>
      <th scope="col" >Labels</th>
      <th scope="col" >IsRemoved</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stickerPack of stickerPacks$ | async">
      <td>{{stickerPack.name}}</td>
      <td>{{stickerPack.count}}</td>
      <td><a href="{{stickerPack.telegramLink}}" target="_blank">install</a></td>
      <td>
        <div *ngIf="stickerPack.labels !== undefined && stickerPack.labels.length > 0">
          <p *ngFor="let label of stickerPack.labels">
            {{label.name}}
          </p>
        </div>
      </td>
      <td>{{stickerPack.isRemoved}}</td>
    </tr>
    </tbody>

  </table>

</form>
